h2 {
    color: green;
 }
 body{
    background-color: rgb(255,400,200);
    font-size: 30px;
 }
 #paragrafodesc {
    background-color: greenyellow;
 }
 #julio{
    color: rgba(0, 124, 0, 0.589);
    font-family: monospace ;
    font-size: 50px;
 }
 h2{
    font-family: Arial, Helvetica, sans-serif;
 }
 .listaind{
    background-color: greenyellow;
 }